html{
    background: rgb(30, 26, 31);
}

*{
    font-family: 'Bruno Ace SC', cursive;
    color: blanchedalmond;
}

h1{
    font-family: 'Bruno Ace SC', cursive;
    color: blanchedalmond;
}

.red-text{
    color: red;
}

.bold-text{
    font-size: bold;
}

.menu-text{
    background-color: aqua;
}

.my-profile{
    background-color: blue;
}

p[pargraph="true"]{
    color: azure;
}